 
  /* Styling for the navigation */
  .startp-nav {
    display: flex !important ;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-toggler {
    border: none;
    cursor: pointer;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex !important
  }
  
  .nav-item {
    margin-right: 20px !important
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
  }
  
  /* Styling for the mobile menu */
  .collapse {
    display: none !important
  }
  
  .show {
    display: block !important;
  }
  
  /* Styling for the 'OUR PACKAGES' button */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .startp-nav {
      flex-direction: column !important;
      height: 100px;
      margin-top: -35px;
    }
  
    .navbar-toggler {
      display: block !important;
    }
  
    .navbar-collapse {
      display: none !important;
    }
  
    .show {
      display: block !important;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .total-heigth{
      /* height: 85px; */
    }
  }
