/* YourComponent.css */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
    /* border-radius: 30% 70% 70% 30% / 15% 48% 52% 85% ; */

  }
  
  .zoomIn {
    animation-name: zoomIn;
  }
  
  .zoomOnHover {
    transition: transform 0.3s ease;
  }
  
  .zoomOnHover:hover {
    transform: scale(1.2); /* Adjust the scale factor based on your preference */
  }
  


  .services-details{
    margin-top: 30px;
  }

  
  .heading ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }

  li:hover {
    box-shadow: 0 0 50px rgba(117, 227, 247, 0.3);
    transform: translateX(-5px);
  }

  .arrow-icon {
    margin-right: 10px;
    text-align: left;
  }

  .heading{
    margin-bottom: 10px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  .heading:hover {
    box-shadow: 0 0 50px rgba(117, 227, 247, 0.3);
    transform: translateX(-5px);
  }
 



  @media only screen and (max-width: 767px) {
    .heading {  
      text-align: center;
      }
      h2{
        text-align: center;
      }
      p{
        text-align: center;
      }

  }