.box {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .animate .box {
    opacity: 1;
    transform: translateY(0);
  }
  
  .scroll-in-right {
    animation: scrollFromRight 0.5s ease-out forwards;
  }
  
  @keyframes scrollFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

  .hide-image {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .scroll-in-right {
    opacity: 1;
    animation: slideInRight 0.5s forwards;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .services-right-image {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .animate.services-right-image {
    opacity: 1;
    transform: translateX(0);
  }
  